*.o
.deps
/INSTALL
/aclocal.m4
/autom4te.cache
/ax25-tools-*.shar.gz
/ax25-tools-*.tar.Z
/ax25-tools-*.tar.bz2
/ax25-tools-*.tar.gz
/ax25-tools-*.tar.lz
/ax25-tools-*.tar.lzma
/ax25-tools-*.tar.xz
/ax25-tools-*.zip
/ax25-tools.spec
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
Makefile
Makefile.in
